
body{

background-color:#eaf6f6
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: Grey;
  border-width: 10px;
  width: 10%;

}

  h1{

    color:#005086;
  }
  h3{

    color:#6f4a8e;
  }
